# User data
xcuserdata/
xcshareddata/

# Output
/derivedData
/output
/build

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Environment
.env.default

# MacOS folder structure
/vendor
.DS_Store
Example/.DS_Store
.DS_Store
